<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thealer.telehealer">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".TeleHealerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.common.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.signup.PasswordRequirementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.quickLogin.QuickLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.signin.SigninActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.signin.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.common.QRCodeReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.proposer.ProposerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.AddConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.ProfileSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.DeleteAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.orders.CreateOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.DoctorOnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="iHealth.pairing.VitalCreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.vitals.BluetoothEnableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.schedules.CreateNewScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.inviteUser.InviteUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.common.ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.call.CallFeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.home.EmailVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.common.AppUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.call.CallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.SignatureActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".views.common.CallPlacingActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".views.home.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.notification.NotificationActivity"
            android:parentActivityName=".views.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.notification.NotificationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.call.CallNetworkTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.home.monitoring.diet.SelectDietActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.inviteUser.InviteContactUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.home.pendingInvites.PendingInvitesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.quickLogin.QuickLoginAgreementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.home.vitals.LandscapeImageView"
            android:screenOrientation="landscape" />

        <activity
            android:name=".views.common.RecentsSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.home.schedules.WaitingRoomActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".common.BTStateChangedBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".views.home.schedules.LocalNotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <action android:name="android.intent.action.NOTIFY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".views.notification.NotificationCancelAppointmentReceiver" />

        <service android:name=".common.pubNub.TelehealerFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".common.OpenTok.CallMinimizeService"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_key}" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>